@model Hec.Entities.ContractAccount
@{
    ViewBag.Title = "Index";
    ViewBag.BodyClass = "skin-blue sidebar-mini bill-info";
    ViewBag.ActiveClass = "bill-info";

}
<div id="view-container"></div>

<script id="view-template" type="text/x-kendo-template">
    <section>
        <div class="bill-info-add">
            <div class="header-title">
                <span class="icon-home-content"></span>
                <span class="details">
                    <span class="title-big">My billing info</span>
                    <span class="desc">Add new account or view your current bill usage</span>
                </span>
            </div>

            <!--==== New House Details====-->
            <div class="store-select new-house">
                <div class="box-white-form">
                    <span class="icon-text">Add Account Details</span>
                    <form id="addAccountForm">
                        <div class="form-group">
                            <label>House Name</label>
                            <input type="text" class="k-textbox" name="houseName" data-bind="value: houseName" required data-required-msg="House Name is required." />
                        </div>

                        <div class="form-group">
                            <label>Account Number</label>
                            <input type="text" class="k-textbox" name="accountNo" data-bind="value: accountNo" required data-required-msg="Account Number is required." />
                        </div>
                            
                        <div class="form-group help-block">
                            Details for the account will be fetched from TNB Contract Account database, 
                            please make sure the Account Number is correct.
                        </div>

                        @*<div class="form-group">
                            @Html.Label("Name")
                            @(Html.Kendo().TextBox().Name("Name"))
                        </div>

                        <div class="form-group">
                            @Html.Label("Telephone Number")
                            @(Html.Kendo().TextBox().Name("TelephoneNo"))
                        </div>

                        <div class="form-group">
                            @Html.Label("Mobile Number")
                            @(Html.Kendo().TextBox().Name("MobileNo"))
                        </div>

                        <div class="form-group">
                            @Html.Label("Email")
                            @(Html.Kendo().TextBox().Name("Email"))
                        </div>*@

                        <div class="add-button-red" style="text-align: right; padding-right: 10px; padding-top: 10px;">
                            <a class="button-red" href="javascript:;" data-bind="click: next">
                                Next
                                <div class="save-icon"></div>
                            </a>
                        </div>
                    </form>
                </div>
            </div>


            <!--==== House Type 2 ====-->
            <div data-bind="visible: infoDiv" class="store-select select-house-type">
                <div class="box-white-house-type">

                    @foreach (Hec.Entities.HouseCategory houseCat in ViewBag.HouseCategories)
                    {
                        <div class="house-container">
                            <div class="house-title">@houseCat.HouseCategoryDesc</div>

                            @foreach (Hec.Entities.HouseType houseTyp in ViewBag.HouseTypes)
                            {
                                if (houseTyp.IsActive.Equals(true) && houseTyp.HouseCategoryId.Equals(houseCat.Id))
                                {
                                    <a href="javascript:;"
                                       id="@houseTyp.HouseTypeCode"
                                       class="house"
                                       data-bind="value: data.@houseTyp.HouseTypeCode, click: selectRoom"
                                       data-house-type="@houseTyp.HouseTypeCode">
                                        <div class="one-floor">
                                            <div><img src="/FilePublic?fileId=@houseTyp.FileId" style="max-height:95px; padding-top:10px; padding-bottom:10px;" /></div>
                                            <span>@houseTyp.HouseTypeName</span>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    }

                    <div class="add-button-red" style="text-align: right; padding-right: 10px; padding-top: 10px;">
                        <a class="button-red" href="javascript:;" data-bind="click: save">
                            Save
                            <div class="save-icon"></div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</script>

@section Scripts
{
    <script>
        $(function () {

            var viewModel = kendo.observable({
                houseType: "",

                infoDiv: function () {
                    $(".select-house-type").show();
                    return false;
                },

                next: function (e) {

                    var form = $('#addAccountForm');
                    var validator = form.data('kendoValidator') || form.kendoValidator().data('kendoValidator');
                    if (!validator.validate()) {
                        app.notifyError("Please fill in all fields.");
                        return;
                    }

                    $(".new-house").hide();
                    $(".select-house-type").show();
                },

                selectRoom: function (e) {
                    e.preventDefault();
                    var el = $(e.currentTarget);
                    var houseType = el.data("house-type");

                    $('.house').removeClass('select');
                    el.addClass('select');

                    viewModel.set("houseType", houseType);
                },

                save: function (e) {
                    e.preventDefault();


                    var houseType = viewModel.get("houseType");
                    if (!houseType) {
                        app.notifyError("Please select a House Type.");
                        return;
                    }

                    $.confirm({
                        title: false,
                        keyboardEnabled: true,
                        confirmButton: 'OK',
                        cancelButton: 'CANCEL',
                        content: "Are you sure to submit?",
                        confirm: function () {

                            $.ajax({
                                url: '@(Url.Action("AddAccount", "BillInfo"))',
                                type: 'POST',
                                data: {
                                    houseName: viewModel.get("houseName"),
                                    accountNo: viewModel.get("accountNo"),
                                    houseType: houseType
                                },
                                dataType: 'json',
                                async: false,
                                success: function (data, textStatus, jqXHR) {
                                    app.navigate("@Url.Action("Index", "BillInfo")");
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    //console.log(jqXHR);
                                    //console.log(textStatus);
                                    //console.log(errorThrown);

                                    if (jqXHR.status == 500) {
                                        app.notifyError("Account No " + viewModel.get("accountNo") + " already exist!");
                                    } else {
                                        app.notifyError("Some error has occured, please try again.", jqXHR);
                                    }

                                    scroll(0, 0);
                                    $(".new-house").show();
                                    $(".select-house-type").hide();
                                }
                            });
                        },
                        cancel: function () {
                        }
                    });
                },

            });

            var view = new kendo.View("view-template", {
                model: viewModel,
                evalTemplate: true,
                show: function (e) {
                    var roomSelect = $('.house-container.room-select');
                    roomSelect.find(".house").on('click', function (e) {
                        var el = $(e.currentTarget);

                        $('.house').removeClass('select');
                        el.addClass('select');

                        viewModel.set("houseType", el.data("house-type"));
                    });
                }
            });

            view.render("#view-container");
        });
    </script>
}
